.collection-item {
	width: 22%;
	display: flex;
	flex-direction: column;
	height: 350px;
	align-items: center;
	overflow: hidden;

	&:hover {
		cursor: pointer;
	}

	.background-image {
		width: 100%;
		height: 94%;
		background-size: cover;
		background-position: center;
		margin-bottom: 5px;
	}

	.collection-footer {
		width: 100%;
		height: 6%;
		display: flex;
		justify-content: space-between;
		font-size: 18px;

		.name {
			width: 90%;
			margin-bottom: 15px;
		}

		.price {
			width: 10%;
		}
	}
}
.zoom-in-sm {
	transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	-webkit-transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	-ms-transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	-o-transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
}
}
